#conpass::before {
    background-image: url(images/lock-icon.png);
    width: 16px;
    height: 16px;
  }
  .signupp {
    font-family: 'Lato', sans-serif;
    color: #4A4A4A;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }