.contact-content{
    display: flex;
    justify-content: space-around;
}
.titles{
    font-weight: bold;
    font-size: 25px;
}
.des{
    font-weight: 550;
}
.icons{
    font-weight: 550;

}
.icons img{
    height: 50px;
    width: 50px;
}




.contact .contact-content .row
{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info
{
    margin-left: 30px;
}
.contact .contact-content .row i
{
    font-size: 25px;
    color: #4b6584;
}
.contact .contact-content .info .sub-title
{
    color: #cba85e;
}
.contact .right form .fields
{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field
{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea
{
    height: 80px;
    width: 100%;
}
.contact .right form .name,
.contact .right form .field
{
    margin-right: 10px;
}
.contact .right form .field input{
    height: 100%;
    width: 100%;
    border:1px solid #4b6584;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
    margin-top: -20px;
}
.contact .right form .textarea textarea
{
    height: 100%;
    width: 100%;
    border:1px solid #4b6584;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
    margin-top: 0px;
}
.contact .right form .textarea textarea
{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button
{
    height: 47px;
    width: 170px;
}
.contact .right form .button button
{
    height: 100%;
    width: 100%;
    border:2px solid #cba85e;
    background: #cba85e;
    color: #4b6584;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover
{
    color: #cba85e;
    background: none;;
}
/*Footer section*/
.row > i
{
    color: #4b6584;
}
.btncon{
    margin-top: -5px;
}