.navbar-brand{
    font-size: xx-large;
}
.bg-light{
    background-color: #cba85e !important;
}
#navbarNav{
    display: flex;
    justify-content: space-around;
}
.nav-item{
    font-size: 20px;
    padding: 20px 0px;
}
.shop{
    padding-left: 10px;
    padding-top: 5px;
}
.account{
    list-style: none;
}